1 VERSIONINFO
    FILEVERSION 2,18,1,6862
    PRODUCTVERSION 2,18,1,0
    FILEFLAGSMASK 0x3fL
    FILEFLAGS 0x8L
    FILEOS 0x10004L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041103A4"
        BEGIN
            VALUE "FileDescription", "SNES SPC700 Emulator\0"
            VALUE "FileVersion", "2.18.1 (build 6862)\0"
            VALUE "LegalCopyright", "Copyright (C) 1999-2008 Alpha-II Productions; (C) 2003-2020 degrade-factory.\0"
            VALUE "LegalTrademarks", "SNES is a registered trademark of Nintendo.\0"
            VALUE "ProductName", "SNESAPU\0"
            VALUE "ProductVersion", "2.18.1\0"
            VALUE "URL", "http://dgrfactory.jp/\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x03A4
    END
END
